@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  linear-gradient(60deg, whitesmoke, rgba(13, 17, 20, 0.1), white), url('../../img/black-sail-ship-on-body-of-water-906982.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.site-motto {
    position: absolute;
    top: 20px;
    background: rgba(39, 218, 119, 0.7);
    right: 1%;
    font-size: 15px;
    color: white;
    padding: 12px;
    font-family: 'Open Sans';
    border: 2px solid rgba(39, 218, 119, 0.7);
}

.site-made-wth {
    position: absolute;
    bottom: 10px;
    left: 2%;
    font-size: 13px;
    padding: 6px;
    font-family: 'Open Sans';
    color: slategrey;
    border: 2px dashed slategrey;
}

.design {
    position: absolute;
    top: 50px;
    left: 45%;
    width: 250px;
    max-width: 70%;
    height: 250px;
    clip-path: polygon(45% 59%, 64% 7%, 98% 31%, 0 35%);
    background: rgba(227, 101, 112,0.3);
    z-index: 1;
}

.design-1 {
    position: absolute;
    top: 10%;
    right: 2%;
    width: 150px;
    max-width: 70%;
    height: 20vh;
    background: rgba(50, 205, 50,0.2);
    clip-path: polygon(50% 44%, 73% 23%, 97% 36%, 90% 64%, 74% 83%, 50% 100%, 35% 86%, 15% 70%, 4% 39%, 26% 22%);
    z-index: 1;
}

.design-2 {
    position: absolute;
    width: 200px;
    max-width: 70%;
    bottom: 10%;
    height: 200px;
    right: 25%;
    background: rgba(86, 118, 163,0.3);
    z-index: 1;
    clip-path: polygon(50% 44%, 73% 23%, 97% 36%, 90% 64%, 74% 83%, 50% 100%, 35% 86%, 15% 70%, 4% 39%, 26% 22%);
}

.main-request-area {
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 20px);
    position: relative;
    max-width: 1860px;
    margin: 0 auto;
    margin-top: -50px;
}

.demo-preview-art {
    display: block;
    width: 100%
}


.enter-info-header {
    margin-top: 30vh;
    margin: 5px;
    padding: 0px 10px;
}

.enter-info-header h3 {
    font-size: 20px;
    font-family: 'Grand Hotel';
    text-align: center;
    color: darkslategray;
}

.input-card-container {
    border: 2px solid rgba(0,0,0, 0.01);
    background: rgba(245, 235, 235,0.95);
    padding: 20px;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0,0.1);
    border-radius: 4px;
    width: 390px;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 25vh;
    overflow: hidden;
}

.tracking-code-input {
    display: block;
    width: 100%;
    padding: 20px 10px;
    border: none;
    border-top: 2px dashed slategray;
    border-bottom: 2px dashed slategray;
    border-left: 2px dashed slategray;
    border-right: 2px dashed slategray;
    margin-top: 30px;
    outline: none;
    font-family: monospace;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans';
    background: rgba(112, 128, 144,0.1);
}

.run-tracking {
    display: block;
    width: 200px;
    margin: 10px auto;
    margin-top: 30px;
    outline: none;
    background: rgb(69, 56, 94);
    padding: 10px 0;
    color: white;
    font-family: 'Open Sans';
    border: 1px solid rgb(69, 56, 94);
    border-radius: 5px;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 5px rgba(128, 128, 128,0.2);
}

.tracking-code-input-error {
    display: block;
    margin: 10px auto;
    color: orangered;
    text-align: center;
    font-size: 12px;
}